<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

      <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
          <meta content="width=device-width, initial-scale=1" name="viewport">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta content="Website" name="description">
              <meta content="D. Dekker" name="author">
                <link href="../../favicon.ico" rel="icon"></link>
                <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"></link>
                <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'></link>
                </script>
              </meta>
            </meta>
          </meta>
        </meta>
      </meta>

  </head>
  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>  
      <div class="body">
        <%= yield %>
      </div>
  </body>
  <%= render 'layouts/footer' %>
</html>
